.navbar-brand .logo {
	max-height: 2rem;
}

.navbar-brand .title {
	font-weight: bold;
	margin-left: 0.25rem;
}

#editor {
	font-family: monospace;
	resize: none;
}

#editor {
	height: 40rem;
}

#preview-generated svg {
	max-height: 40rem;
}

#preview-error:empty {
	display: none;
}
