<!DOCTYPE html>
<html lang="en-us" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Grawkit Playground</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/main.css">
	</head>

	<body>
		<form action="/" method="post">
			<nav class="navbar navbar-light bg-light mb-3">
				<div class="container">
					<a href="/" class="navbar-brand">
						<img src="/img/logo.png" alt="Grawkit Logo" class="logo">
						<span class="title">Grawkit Playground</span>
					</a>
					<div class="form-inline navbar-right">
						<button type="submit" name="generate" class="btn btn-primary" onclick="submitForm(this.form); return false;">Generate</button>
						<button type="submit" name="download" class="btn btn-default">Download</button>
					</div>
				</div>
			</nav>
			<div class="container">
				<div id="preview-error" class="alert alert-danger">{{if .Error}}{{printf .Error}}{{end}}</div>
				<div class="row">
					<div class="col-sm mb-3">
						<textarea id="editor" name="content" class="form-control bg-light">{{if .Content}}{{printf .Content}}{{else}}{{template "default-content.template"}}{{end}}</textarea>
					</div>
					<div class="col-sm mb-3">
						<div id="preview-generated">{{if .Preview}}{{printf .Preview}}{{else}}{{template "default-preview.template"}}{{end}}</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm">
						<h2>Options</h2>
					</div>
				</div>
				{{range $config := group .Config 3}}
				<div class="row">
					{{range $config}}
					<div class="col-sm form-group">
						<label for="config-{{.Name}}">{{.Name}}</label>
						<input type="{{.Type}}" name="config-{{.Name}}" value="{{.Value}}" class="form-control">
					</div>
					{{end}}
				</div>
				{{end}}
			</div>
		</form>
		<script src="/js/main.js"></script>
	</body>
</html>
